<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  </br>
  </br>
  <div>
    <% if (useremail) { %>
    <form action="/urls/new" method="GET">
      <input type="submit" value="Creat">
    </form>
    <% } %>
  </div>
  <ul>
    <% Object.keys(urls).forEach((url) => { %>
      <% if (urls[url].creator === useremail) {%>
      <li>
        <a href="http://localhost:8080/urls/<%= url %>">
        http://www.tinyapp.com/u/<%= url %>
        </a>
        -
        <a href="<%= urls[url].longURL %>">
          <%= urls[url].longURL %>
        </a>&nbsp;
        <a href="/urls/<%= url %>">Edit</a>
        <form action="/urls/<%= url %>/delete" method="POST" style="display: inline;">
          <input type="submit" value="Delete">
        </form>
      </li>
    <% }}); %>
  </ul>
</body>
</html>